@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
  outline: none;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-weight: 400;
  background-color: white;
  font-family: "Inter", sans-serif !important;
}
a,
span {
  font-weight: 400;  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* main padding */
.main-padding {
  padding: 80px 0;
}
.main-heading{
  
font-size: 16px;
font-weight:200px;
 color:#000; 

}
.round-button {
 /* display: inline-flex;
  align-items: center;
  gap: 8px; */
      padding: 9px 28px;
   /* border: 1px solid #dee2e6;  */
  /* background-color: transparent; */
  /* flex: 0 0 auto; */
  /* color: #808080; */
  font-size: 16px;
  
  border-radius: 50px;
  border: none;
 
  background-color:#F48C06;
  color: white;
/* margin: 22px; */
  
  transition: all 0.3s ease;

}

.round-button:hover {
  background-color: white;
  color:#000;
}
