.header{
  
padding: 15px 0;
 background: #fff2e2;
}

/* .herologo{
    position:relative;
}

.skillline {
  position: absolute;
  top: 8px;
  left: 28px;
  z-index: 2; 
} */
.nav-list {
  display: flex;

  gap: 68px;
  color: #DFDFDF;

  text-decoration: none;
  list-style: none;
 
   justify-content: center; 
   align-items: center;
 
}

.nav-list li a {
  color:#252641;
  text-decoration: none;
  font-size: 14px;
  /* transition: color 0.3s ease; */
  list-style: none;
}
.nav-list li a:hover {
  color: #ddd;
}

.headerdesign{
    display: flex;
    flex-direction: row;
       align-items: center;
    justify-content: space-between;
}

 .header-btn{
    display: flex;
   
    align-items: center;
    justify-content: center;
    gap:10px;
} 
.border-btn{
    background-color: white;
    color:black;
    padding: 8px 33px;
    border: none;
    font-weight: 100;
}

.header-menu{
    display: flex;
    gap:31px;
   
}