.manage-head{
    color:orange;
    font-size: 28px;
    font-weight: bold;
}
.Educators{
    color:#2F327D;
    font-size: 28px;
    font-weight: bold;

}
.manage-content{
    color:#696984;
    font-size: 15px;
    padding:15px 0px;

}
.classmangage{
    width:80%;
}

