.featureheading{
    text-align: center;
    margin-bottom: 77px;
}
.feature-B{
    color:#2F327D;
    font-size: 25px;
    font-weight: bold;
}
.feature-O{
    color:orange;
    font-size: 25px;
    font-weight: bold;
}
.feature-content{
    font-size: 17px;
    color:#696984;
}

/* right side */
.boxshadowpicsside{
    margin-left: 20px;

}
.A{
    color:#2F327D;
    font-size: 25px;
    font-weight: bold;

}
.UserInterface{
    color:orange;
    font-size: 25px;
    font-weight: bold;
}
.Designed{
    color: #2F327D;
    font-size: 25px;
    font-weight: bold;
}


.teachers{
    display: flex;
    flex-direction: row;
    gap:10px;
    justify-content: center;
    align-items: center;
}
.teachers-content{
    /* text-align: left; */
    /* padding: 10px 0px; */
        font-size: 15px;
}
.gridview{
    padding: 10px;
}
/* .Allteachers{
    padding: 0px 35px;
} */
 /* .featurerightside{
    
    width:108%;
}  */
.uipic1{
   box-shadow: 0px 15px 44px rgba(13, 15, 28, 0.12);

    padding: 10px;
    border-radius: 50%;
}