.Assestment{
    color:#2F327D;
    font-size: 28px;
}
.Test{
    color: orange;
    font-size: 28px;
}
.Quizcontent{
    font-size: 16px;
    color:#696984;
    padding: 14px 0px;
    width: 138%;
}
.Quizesright{
    padding: 63px 43px;
    width:69%;
}